.profile-content {
    height: 100vh;
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: center;

}

.panel-body {
    border: 1px solid #a5b6501a;


}

#panel-content {
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.15);


}

.row .buttons {
    text-align: center;
}

.btn-edit {
    width: 10%;
}

.profile-inputs {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0;
    border-radius: 4px;
}


.profile-inputs {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0;
    border-radius: 4px;
}

.profile-inputs.edit {
    display: block;
    width: 80%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.edit-date {
    width: 58%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    left: 15px;
}

.profile-group-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem;
    place-self: center;


}

.profile-group-buttons button {
    flex: 1 1 200px;
    max-width: 300px;
    padding: 10px 20px;

}

.profile-group-buttons button:focus {
    outline: none;
    border: none;
    color: #fff;

}

.btn .btn-edit-profile.visible{
    display: none;
}