.layout {
  display: grid;
  height: 100vh;

  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "aside content"
    "footer footer";
}


.main-header {
  grid-area: header;
}

.main-aside {
  grid-area: aside;
}

.main-content {
  grid-area: content;
  overflow-y: auto;
  box-shadow: 1px 1px 29px -2px rgba(0, 0, 0, 0.35) inset;
  padding: 18px;
}

.main-footer {
  grid-area: footer;
}

.users-table {
  border-collapse: collapse;
  width: 100%;
}

.users-table td,
.users-table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;

}

.users-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.users-table tr:hover {
  background-color: #ddd;
}

.users-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #1e3a5f;
  color: white;
}

.table-buttons button {
  padding: 8px;
  margin-left: 10px;
}