ol,
ul,
p {
  margin: 0;
  margin-bottom: 0 !important;
}

.row {
  margin: 0 !important;
}

.layout {
  min-height: 100vh;

}

#main-content {
  padding: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.08);

}

.main-content {
  margin-bottom: 0;

}

#aside {
  height: 100%;
  margin: 0;
  padding-left: 0;
  padding-right: 0;


}

#aside aside {
  height: 100%;
}

.users-table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-spacing: 1px;
  border-collapse: separate;
}


.users-table td,
.users-table th {

  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;

}

.users-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.users-table tr:hover {
  background-color: #ddd;
}

.users-table th {
  border: none;
  margin: 2px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(46 125 50);
  color: white;
}


.table-buttons i {
  padding: 8px;
  width: 100%;
  margin-left: 10px;
  height: 100%;
  border: 0;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.table-buttons-group {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;

}

.new-data-button {
  display: flex;
  place-self: end;
  padding: 1rem;
  place-content: center;
  margin: 0.5rem;
  background: green;
  color: white;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  border-radius: 5px;

}

.new-data-button:hover {
  background-color: #28661c;
}

.form-user,
.form-vacancy {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  font-size: 1.5rem;
}

.form-user input:focus,
.form-vacancy input:focus {
  border: 1px solid green;
}

.form h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.form-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

.form-row:last-child {
  justify-content: center;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0;
  border: none;
  background-color: #f1f1f1;

}

.form-group input:focus {
  border: 1px solid green;
}

.table-buttons {
  display: flex;
  border: none;
  padding: 8px 0;
  gap: 8px;
}



table button,
.form-row button {
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.table-buttons .fa-edit {
  color: #FFA726;
}

.table-buttons .fa-trash {
  color: #8e3838;
}

.table-buttons .fa-check {
  color: rgb(0, 156, 0);
}

.submit-button {
  background-color: #388E3C;
}

.cancel-button {
  background-color: #d14141;
  border: 0;
  border-radius: 6px;
  color: white;
}


.content.forms {
  align-content: center;
}

.grupo-inputs.button {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.grupo-inputs button {
  padding: 1rem;
}

.grupo-inputs .button-form {
  gap: 0;
}

.input-description {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  outline: none;
}

.hidden-aside {
  display: none;
}

.form-user-title {
  color: #2e7d32;
}


@media screen and (max-width: 800px) {
  
  .users-table {
    border: 0;
  }

  .users-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .users-table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625rem;
    padding: 0;
  }

  .users-table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1.1rem;
    text-align: right;
  }

  .users-table td::before {
    content: attr(data-label);
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #28661c;
  }

  .table-buttons-group {
    width: auto;
  }

  .table-buttons i {
    width: auto;
  }


  .users-table tr:hover {
    background-color: #fffff434 !important;
  }

 



}