.main-header {
    background: #2E7D32;
    top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 1px solid black;

}

#navbar-admin {
    background-color: #2e7d32;
    border-radius: 0;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;

}

#navbar-admin ul li a {
    color: white;
    text-decoration: none;
}

#navbar-admin ul li a:hover {
    background: none;
    border-bottom: 4px solid white;

}

.hospital-name {
    font-size: 1.6rem;
}

.form-group {
    font-size: 1.8rem;
    display: flex !important;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    color: white;
}

.form-group-mobile {
    display: none;
}

.barras {
    display: block;
    width: 25px;
    height: 3px;
    margin: 4px 0;
    background-color: rgb(255, 255, 255);
}

.hidden-aside {
    display: none !important;
}

@media (max-width: 991px) {


    .form-group-mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        padding: 1rem;
        font-size: 1.5rem;
    }

    .navbar-form {
        display: none;
    }
}
