.card-header {
    background: #4caf50;
    text-align: center;
    padding: 1rem;
}

.card-custom {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: justify;
    max-width: 300px;
    margin: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.card-custom:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);

}

.card-img {
    width: 80px;
    margin-bottom: 15px;
}

.card-title {
    color: #4CAF50;
    margin-bottom: 10px;
    font-weight: bold;
}

.card-text {
    margin: 4px 0;
    color: #333;
}

.card-buttons {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn {
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 0.9rem;
    cursor: pointer;
    background: #54944e;
    color: white;
    transition: background 0.3s;
}