#navbar {
    background-color: #f8f9fa;
    margin: 0;
}

#nav-items li a {
    color: black;
    font-size: 1.4rem;
}

#row {
    margin-left: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.img-about {
    width: 80%;
    height: auto;
}

#inicio {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    align-content: center;
    border-radius: 0;
}

section {
    padding: 2rem;
    margin-bottom: 2rem;
    min-height: 100vh;
    background-color: #fff;
    box-shadow: 0px 10px 67px -3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.about {
    text-align: center;
    align-content: center;


}


.cols {
    margin-bottom: 10rem;
}

.title {
    text-align: center;
    font-weight: bold;
    color: #4CAF50;

}



.span-border {
    border-bottom: 4px solid #4caf50;
}

.about-text {
    text-align: justify;

}

.about-text p {
    margin: 4rem;
    line-height: 1.5;
    font-size: 2rem;

}

.thumbnail {
    place-items: center;
}

.img-card {
    width: 20%;
}